@model IEnumerable<BringMe.Models.Product>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="stylesheet" href="/css/profileBuyer.css">
    <link rel="stylesheet" href="/css/companyProfile.css">
    <link rel="stylesheet" href="/css/navigationProfile.css">
    <title>Профиль компании</title>
</head>

<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("company"))
            {
                <div class="index-container">
                    <img src="/lib/listik.png" alt="listik">
                    <a href="">Привези</a>
                    <a href="/Home/Catalog">Каталог</a>
                    <button name="onasButton" onclick="window.scrollBy({top: 2800, behavior: 'smooth'});">О нас</button>
                </div>
                <div class="index-container">
                    <a href="/ProfileCompany/Index">Профиль</a>
                </div>
            }
            else
            {
                <div class="index-container">
                    <img src="/lib/listik.png" alt="listik">
                    <a href="">Привези</a>
                    <a href="/Home/Catalog">Каталог</a>
                    <button name="onasButton" onclick="window.scrollBy({top: 2800, behavior: 'smooth'});">О нас</button>
                </div>
                <div class="index-container">
                    <a href="/ProfileBuyer/ProfileDelivery">Профиль</a>
                </div>
            }
        }
        else
        {
            <div class="index-container">
                <img src="/lib/listik.png" alt="listik">
                <a href="">Привези</a>
                <a href="/Home/Catalog">Каталог</a>
                <button name="onasButton" onclick="">О нас</button>
            </div>
            <div class="index-container">
                <a id="reg" href="/Account/Registration">Регистрация</a>
                <div class="log-bord">
                    <a id="log" href="/Account/Auth">Войти</a>
                </div>
            </div>
        }
    </header>

    <div class="profile-data">
        <span>@User.Identity.Name</span>
    </div>

    <div class="flex">
        <div id="profileNav" class="profile-nav">
            <div id="navSelect" class="nav-select">
                <a href="/ProfileCompany/Index">Профиль</a>
            </div>
            <a href="/ProfileCompany/CreateProduct">Изделия</a>
            <a href="/ProfileCompany/CreateStorageHouse">Выбрать склад или пункт выдачи</a>
            <a href="/ProfileCompany/CreateRoads">Маршруты</a>
            @using (Html.BeginForm("Logout", "ProfileCompany", FormMethod.Post))
            {
                <input type="submit" name="ProfileExit" value="Выйти">
            }
        </div>

        <div>
            <div id="purchase-title">
                <label for="purchase-title">Товары</label>
            </div>
            <div class="rows">
                @foreach (var product in Model)
                {
                    @if (product.IdUser == ViewBag.Message)
                    {   
                        <div class="card">
                            <img src="@product.ImageUrl" name="Picture" alt="stuff">
                            <div class="card-title" name="Name">@product.Name</div>
                            <div name="Size">@product.Size</div>
                            <div name="Mass">@product.Mass</div>
                            <div name="Description">@product.Description</div>
                            <div class="price">
                                <div class="card-title" name="Price">@product.Price</div>
                                <input type="submit" class="make-order" name="CardDetails" value="Подробнее   >" style="left:0px;">
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</body>

</html>